<h1 class="project-title">Welcome to our Book Club</h1>
<h3 id="completed-by">Completed by Julia Marco and Peter Lapicola</h3>
<%= link_to "View this project on GitHub", "https://github.com/plapicola/book-club", id: "welcome-cta" %>

<section class="developer-show-wrapper">
  <section class="developer-show-pane" id="left-developer">
    <h4>Julia Marco</h4>
    <a href="https://github.com/juliamarco"><img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="@juliamarco on Github"></a>
    <a href="https://www.linkedin.com/in/julia-marco-oteros-441178106/"><%= image_tag "linkedin-icon.png", alt: "Julia Marco on LinkedIn" %></a>
  </section>
  <section class="developer-show-pane">
    <h4>Peter Lapicola</h4>
    <a href="https://github.com/plapicola"><img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="@plapicola on Github"></a>
    <a href="www.linkedin.com/in/plapicola"><%= image_tag "linkedin-icon.png", alt: "Peter Lapicola on LinkedIn" %></a>
  </section>
</section>
