/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   width: 85%;
   position: absolute;
   left: 15%;
   background-color: #E8DDB5;
   overflow-y: auto;
   font-family: 'Amiri', serif;
 }

 nav {
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   width: 15%;
   height: 100%;
   background-color: #6D9F71;
 }

 nav p {
   text-align: center;
 }

 nav a {
   display: block;
   width: 100%;
   text-decoration: none;
   color: #0A100D;
}

 nav ul {
   display: flex;
   flex-direction: column;
   padding-left: 0;
   padding-top: 7vh;
   width: 100%;
 }

 nav li {
   padding: 0;
   margin: 0;
   display: block;
   width: 100%;
   height: 4vh;
   list-style: none;
 }

 nav li:hover {
   background: #902923;
 }

 nav a:hover {
   color: #E8DDB5;
 }

 .author-show-name {
   margin: 25px;
   background: #274060;
   color: white;
   display: block;
   padding: 0 25px;
   float: center;
 }

 .author-show-name h1 {
  float: center;
  height: 50px;
  display: block;
  padding: 17px 10px;
 }

 .author-show-book {
   display: flex;
   padding: 0 25px;
   vertical-align: top;
   margin: 0 10px;
   margin-bottom: 40px;
   flex-flow: row wrap;
   width: 100%;
 }

 .author-show-book img {
   width: 32%;
   height: 90%;
 }


.book-info {
  display: block;
  background-color: #6D9F71;
  padding: 3px;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 10px
}

.info-wrapper {
  height: 90%;
  width: 60%;
}

.book-title {
  font-size: 30px;
  color: black
}

.book-title a {
  text-decoration: none;
  color: black;
}

.book-title :hover {
  color: white;
  cursor: pointer;
}

.book-info ul {
  list-style-type: none;
  font-size: 20px;
  text-align: left;
}

.top-review {
  display: block;
  height: 45%;
  background-color: #878E88;
  color: black;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
}

.top-review h4{
  font-size: 20px;
}

.top-review a {
  text-decoration: none;
  color: black;
}

#username :hover {
  color: white;
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
}

.button {
  margin: 25px;
  background: #274060;
  display: inline-block;
  padding: 0 25px;
  float: center;
}
