body {
  width: 85%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 15%;
  background-color: #E8DDB5;
  overflow-y: auto;
  font-family: 'Amiri', serif;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #6D9F71;
}

p {
  font-size: .95em;
}

label {
  display: inline-block;
  width: 25%;
}

nav p {
  text-align: center;
}

nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: #0A100D;
}

nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 7vh;
  width: 100%;
}

nav li {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
  list-style: none;
}

nav a:hover {
  color: white;
}

.statistics {
  margin: 5%;
  margin-bottom: 1%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  background-color: #878E88;
}

.statistics-item {
  width: 30%;
  text-align: center;
}

.book-sort-bar {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 8vh;
  background-color: #274060;
}

.book-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.books-index {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 40vh;
}

.book-information {
  display: inline-flex;
  flex-grow: 2;
  text-align: center;
  flex-direction: column;
  vertical-align: center;
  background-color: #274060;
  color: white;
  height: 35vh;
  overflow-x: scroll;
}

.book-review-information {
  display: inline-block;
  text-align: center;
  background-color: #878E88;
  height: 35vh;
  width: 30%;
  color: white;
}

.book-information a {
  text-decoration: none;
  color: white;
  overflow-y: auto;
}

.statistics-item li {
  list-style: none;
  text-align: left;
}

.book-sort-bar li {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 33%;
}

.book-sort-bar a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.books-index img {
  display: inline-block;
  width: auto;
  height: 35vh;
  width: 22%;
  padding-left: 3%;
  padding-right: 3%;
}

.books-index h3 {
  flex-grow: 2;
  line-height: 5em;
}

.books-index h5 {
  font-size: 1.05em;
  text-align: left;
  padding-left: 10%;
}

.book-information p {
  text-align: left;
  padding-left: 10%;
}

.book-review-information p {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.author-show-name {
   margin: 25px;
   background: #274060;
   color: white;
   display: block;
   padding: 0 25px;
   float: center;
 }

  .author-show-name h1 {
  float: center;
  height: 50px;
  display: block;
  padding: 17px 10px;
 }

  .author-show-book {
   display: flex;
   padding: 0 25px;
   vertical-align: top;
   margin: 0 10px;
   margin-bottom: 40px;
   flex-flow: row wrap;
   width: 100%;
 }

  .author-show-book img {
   width: 32%;
   height: 90%;
 }


 .book-info {
  display: block;
  background-color: #6D9F71;
  padding: 3px;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 10px
}

 .info-wrapper {
  height: 90%;
  width: 60%;
}

 .book-title {
  font-size: 30px;
  color: black
}

 .book-title a {
  text-decoration: none;
  color: black;
}

 .book-title :hover {
  color: white;
  cursor: pointer;
}

 .book-info ul {
  list-style-type: none;
  font-size: 20px;
  text-align: left;
}

 .top-review {
  display: block;
  height: 45%;
  background-color: #878E88;
  color: black;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
}

 .top-review h4{
  font-size: 20px;
}

 .top-review a {
  text-decoration: none;
  color: black;
}

 #username :hover {
  color: white;
  cursor: pointer;
}

 .button a {
  text-decoration: none;
  color: white;
}

 .button {
  margin: 25px;
  background: #274060;
  display: inline-block;
  padding: 0 25px;
  float: center;
}

#new-book-form-wrapper {
  display: flex;
  height: 100vh;
  vertical-align: center;
  justify-content: center;
  align-items: center;
}
